-- supabase/migrations/20260510120000_create_debt_snapshots.sql
-- ╫ר╫ס╫£╫פ ╫£╫⌐╫₧╫ש╫¿╫¬ snapshots ╫ש╫ץ╫₧╫ש╫ש╫¥ ╫⌐╫£ ╫ף╫ץ╫ק ╫ק╫ש╫ש╫ס╫ש╫¥ ╫₧╫ס╫ש╫á╫פ

CREATE TABLE IF NOT EXISTS debt_snapshots (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  
  -- ╫₧╫¬╫ש ╫á╫⌐╫£╫ú
  snapshot_date date NOT NULL DEFAULT CURRENT_DATE,
  fetched_at timestamptz NOT NULL DEFAULT now(),
  
  -- ╫ñ╫¿╫ר╫ש ╫פ╫ק╫⌐╫ס╫ץ╫á╫ש╫¬ ╫₧╫ס╫ש╫á╫פ
  bina_customer_id text NOT NULL,
  customer_name text,                    -- ╫₧-clients table (╫נ╫¥ ╫º╫ש╫ש╫¥)
  doc_num integer NOT NULL,              -- ╫₧╫í╫ñ╫¿ ╫ק╫⌐╫ס╫ץ╫á╫ש╫¬
  doc_date date,                         -- ╫¬╫נ╫¿╫ש╫ת ╫ק╫⌐╫ס╫ץ╫á╫ש╫¬
  doc_payment_date date,                 -- ╫¬╫נ╫¿╫ש╫ת ╫¬╫⌐╫£╫ץ╫¥ ╫ª╫ñ╫ץ╫ש (╫£╫ñ╫ש ╫¬╫á╫נ╫ש ╫¬╫⌐╫£╫ץ╫¥)
  doc_total numeric(12, 2),              -- ╫í╫¢╫ץ╫¥ ╫פ╫ק╫⌐╫ס╫ץ╫á╫ש╫¬
  doc_balance numeric(12, 2) NOT NULL,   -- ╫ש╫¬╫¿╫פ ╫£╫¬╫⌐╫£╫ץ╫¥
  
  -- ╫ק╫ש╫⌐╫ץ╫ס╫ש╫¥
  is_overdue boolean NOT NULL DEFAULT false,  -- ╫פ╫נ╫¥ ╫ó╫ס╫¿ ╫¬╫נ╫¿╫ש╫ת ╫¬╫⌐╫£╫ץ╫¥
  days_overdue integer DEFAULT 0,             -- ╫¢╫₧╫פ ╫ש╫₧╫ש╫¥ ╫ס╫נ╫ש╫ק╫ץ╫¿
  
  -- ╫ק╫ש╫ס╫ץ╫¿ ╫£╫£╫º╫ץ╫ק ╫נ╫ª╫£╫á╫ץ (╫נ╫¥ ╫º╫ש╫ש╫¥)
  client_id uuid REFERENCES clients(id) ON DELETE SET NULL,
  client_exists_in_db boolean NOT NULL DEFAULT false
);

-- ╫נ╫ש╫á╫ף╫º╫í╫ש╫¥ ╫£╫ק╫ש╫ñ╫ץ╫⌐╫ש╫¥ ╫₧╫פ╫ש╫¿╫ש╫¥
CREATE INDEX IF NOT EXISTS idx_debt_snapshots_date 
  ON debt_snapshots(snapshot_date DESC);

CREATE INDEX IF NOT EXISTS idx_debt_snapshots_customer 
  ON debt_snapshots(bina_customer_id, snapshot_date DESC);

CREATE INDEX IF NOT EXISTS idx_debt_snapshots_overdue 
  ON debt_snapshots(snapshot_date, is_overdue) 
  WHERE is_overdue = true;

CREATE INDEX IF NOT EXISTS idx_debt_snapshots_open 
  ON debt_snapshots(snapshot_date) 
  WHERE doc_balance > 0;

-- ╫נ╫ש╫£╫ץ╫Ñ: ╫£╫נ ╫ש╫¢╫ץ╫£ ╫£╫פ╫ש╫ץ╫¬ ╫¢╫ñ╫ש╫£╫ץ╫¬ ╫⌐╫£ ╫נ╫ץ╫¬╫פ ╫ק╫⌐╫ס╫ץ╫á╫ש╫¬ ╫ס╫נ╫ץ╫¬╫ץ ╫ש╫ץ╫¥
CREATE UNIQUE INDEX IF NOT EXISTS idx_debt_snapshots_unique
  ON debt_snapshots(snapshot_date, bina_customer_id, doc_num);

-- View ╫á╫ץ╫ק ╫£╫ף╫⌐╫ס╫ץ╫¿╫ף ╫₧╫á╫פ╫£╫ש╫¥ - ╫¬╫₧╫ץ╫á╫¬ ╫₧╫ª╫ס ╫á╫ץ╫¢╫ק╫ש╫¬
CREATE OR REPLACE VIEW current_debt_summary AS
SELECT 
  bina_customer_id,
  customer_name,
  client_id,
  client_exists_in_db,
  COUNT(*) AS open_invoices_count,
  SUM(doc_balance) AS total_debt,
  SUM(CASE WHEN is_overdue THEN doc_balance ELSE 0 END) AS overdue_debt,
  MAX(days_overdue) AS max_days_overdue,
  MIN(doc_payment_date) AS earliest_payment_date
FROM debt_snapshots
WHERE snapshot_date = (SELECT MAX(snapshot_date) FROM debt_snapshots)
  AND doc_balance > 0
GROUP BY bina_customer_id, customer_name, client_id, client_exists_in_db
ORDER BY total_debt DESC;

-- View ╫£╫í╫ש╫¢╫ץ╫¥ ╫¢╫£╫£╫ש
CREATE OR REPLACE VIEW current_debt_totals AS
SELECT
  snapshot_date,
  COUNT(DISTINCT bina_customer_id) AS customers_with_debt,
  COUNT(*) AS open_invoices,
  SUM(doc_balance) AS total_open_debt,
  SUM(CASE WHEN is_overdue THEN doc_balance ELSE 0 END) AS total_overdue_debt,
  COUNT(CASE WHEN is_overdue THEN 1 END) AS overdue_invoices_count,
  COUNT(DISTINCT CASE WHEN is_overdue THEN bina_customer_id END) AS overdue_customers_count
FROM debt_snapshots
WHERE snapshot_date = (SELECT MAX(snapshot_date) FROM debt_snapshots)
  AND doc_balance > 0
GROUP BY snapshot_date;

COMMENT ON TABLE debt_snapshots IS 'Snapshot ╫ש╫ץ╫₧╫ש ╫⌐╫£ ╫ק╫ץ╫ס ╫ñ╫¬╫ץ╫ק ╫₧╫ס╫ש╫á╫פ (docType -900). cron ╫ש╫ץ╫₧╫ש ╫ס-07:00.';
COMMENT ON COLUMN debt_snapshots.is_overdue IS 'doc_payment_date < ╫פ╫ש╫ץ╫¥ AND doc_balance > 0';
COMMENT ON COLUMN debt_snapshots.client_exists_in_db IS '╫פ╫נ╫¥ ╫פ╫£╫º╫ץ╫ק ╫º╫ש╫ש╫¥ ╫ס╫ר╫ס╫£╫¬ clients (╫£╫ñ╫ש bina_customer_id)';
