-- ╫₧╫נ╫ñ╫⌐╫¿ doc_num ╫£╫פ╫ש╫ץ╫¬ NULL (╫£╫¿╫⌐╫ץ╫₧╫ץ╫¬ ╫ש╫¬╫¿╫¬ ╫ñ╫¬╫ש╫ק╫פ ╫£╫£╫נ ╫ק╫⌐╫ס╫ץ╫á╫ש╫¬)
ALTER TABLE debt_snapshots ALTER COLUMN doc_num DROP NOT NULL;

-- ╫₧╫í╫ש╫¿ ╫נ╫¬ ╫פ╫נ╫ש╫á╫ף╫º╫í ╫פ╫ש╫ק╫ץ╫ף╫ש ╫פ╫ש╫⌐╫ƒ ╫ץ╫ש╫ץ╫ª╫¿ ╫נ╫ק╫ף ╫⌐╫₧╫¬╫ó╫£╫¥ ╫₧-NULL
DROP INDEX IF EXISTS idx_debt_snapshots_unique;
CREATE UNIQUE INDEX idx_debt_snapshots_unique
  ON debt_snapshots(snapshot_date, bina_customer_id, doc_num)
  WHERE doc_num IS NOT NULL;

-- ╫נ╫ש╫á╫ף╫º╫í ╫á╫ץ╫í╫ú ╫£╫¿╫⌐╫ץ╫₧╫ץ╫¬ ╫ס╫£╫ש doc_num (╫ש╫¬╫¿╫¬ ╫ñ╫¬╫ש╫ק╫פ)
CREATE UNIQUE INDEX idx_debt_snapshots_no_docnum
  ON debt_snapshots(snapshot_date, bina_customer_id)
  WHERE doc_num IS NULL;
